:root {
  --main-color: #0F0771;
  --color: white;
  --font-family: 'Roboto', sans-serif;
  /* --font-familiy2:'Roboto'; */
}



.head {
  background-color: var(--main-color);
  width:100%;
}

.container {
  /* width: 1200px; */
  font-family: var(--font-family);
}

.blink {
  text-align: center;
}
.header strong{
  font-size: 2rem;
}
.headh {
  animation: blink 1s linear infinite;
  color: yellow;
  /* text-align: center; */
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }

}

.header p {
  word-spacing: .5rem;
  font-size: 2rem;
  /* text-align: center; */
}

.nav {
  width:100%;
}

nav a {
  font-family: var(--font-family);
  font-size: 1.1rem;
  color: var(--main-color);
}

.nav-item a {
  font-family: var(--font-family);
  font-size: 1.1rem;
  color: var(--main-color);
  padding: .5rem;
}

.container-fluid a {
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 600;
}

#hover1 {
  color: var(--main-color)
}

#hover1:hover {
  color: red;
 }

.lr {
  background-color: yellow;
  text-align: center;
}

.lr:hover {
  background-color: var(--main-color);
  color: white;
}

#carouselExampleSlidesOnly img {
  height: 500px;
  width:100%;
}

.facilties {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.flogo a{
  text-decoration: none;
  color: black;
}

.flogo p {
  font-size: 1.2rem;
  font-family: var(--font-family);
}

.flogo {
  padding: 1.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flogo1 {
  margin-left: 130px;
}

#flogo3 {
  margin-left: 19px;
}

.sec-title h1 {
  position: relative;
  display: block;
  line-height: 1.2em;
  color: #29166f;
  font-weight: 700;
}

/* habout */
.fabout h2,
h5 {
  font-family:var(--font-familiy);
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 2rem; */
}
 .fabout h2{
  font-style: italic;
}
.fabout p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--font-familiy);
}

.faboutp {
  font-style: italic;
}
.quotes span{
  font-style: normal;
}





.fhr {
 font-size: var(--font-familiy);
} 

.buttonbox{
  width: 500px;
}

.leftbtn {
  background-color: var(--color);
  color: var(--main-color);
  border: none;
  padding: 10px 50px;
  margin-left: 30px;
  height: 40px;
  text-decoration: none;
}

.rightbtn {
  background-color: var(--color);
  color: var(--main-color);
  border: none;
  padding: 10px 50px;
  text-decoration: none;
  margin-left: 4px;
}
.image-row {
  justify-content: center;
  }
.image-row img{
  border: 8px solid white;
}
.image-row .col-md-6,
.image-row .col-lg-3 {
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 250px;
}
/* number */
.glrgrp {
  flex-wrap: wrap;
}

 .groups {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 1rem 0; */
}

.cr {
  color:var(--main-color);
}

.counter{
  font-size: 1.3rem !important;
  font-weight: bold;
}
.numbers div {
  margin: 0 2rem;
}
.numh2{
  color: var(--main-color);
}
.cr span {
  font-size: 1.25rem;
}

.cr p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--font-family);
  font-weight: bold;
}
.numc img{
  margin-left: 46px;
}
.linked{
  text-decoration: none;
  }
.mainln{
    font-size: 1.5rem;
  }
  
footer ul li {
  list-style: none;
}
.subln{
  margin-right: 11px;
}
/* about */
.background-image-overlay {
  position: relative;
  height: 200px;
  /* Adjust the height as needed */
  text-align: center;
  color: white;
  padding: 20px;
  overflow: hidden;
  /* Ensure the overlay does not overflow */

  /* Set the background image */
  background-image:url('../image/lbs3.jpg');
  background-size: cover;
  background-position: center;
}
                                                    
.background-image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Create the blue color with opacity */
  background-color: rgba(0, 0, 255, 0.422);
  /* Adjust the color and opacity as needed */
}

.background-image-overlay h1 {
  font-size: 42px;
  margin-top: 70px;
  /* Adjust the spacing between the text and image */
  color: white;
  font-weight: bold;
  position: relative;
}
#aboutcontainer .row{
  margin-top: 40px;
}
.vission-mission{
  font-family: var(--font-family);
}

.about-img {
  position: relative;
}

.about-img .img_1{
  border-radius: 20px !important;
  /* border: 1px solid rgb(100 107 160) !important; */
  /* background: #545d5c !important; */
  position: relative !important;
  max-width: fit-content !important;
  padding: 1rem !important;
}

.card-img {
  width: 100%;
}

/* .border-line {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0 !important;
  top: 5px;
  left: 5px;
  z-index: -1;
} */



.vs p {
  font-family:var(--font-family);
}

.vs {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.vs h3{
  color:var(--main-color);
  font-size: 2rem;
  margin-top: 12px;
}
.about p{
  font-size: 1.2rem;
  font-family: var(--font-family);
  text-align:left;
  line-height: 30px;
  margin-top: 30px;
}
.aboutp{
  font-family: var(--font-family);
  font-size: 1rem;
  text-align: justify;
}
/* news page */
.container-news-page{
  overflow-x: hidden;
  background-color:#fff;
  margin-bottom: 12px;
 }

 .container-news-page .card-header{
  color: #0F0771;
  font-size: 28px;
  font-weight: bold;
 }

 .container-news-page #para{
  display: none;
  font-weight: bold;
  color:rgb(1, 56, 58);
  font-size: 12px;
  font-family:var(--font-family);
 }
 
.container-news-page .covid-img{
  max-width: 120px;
 display: block;
margin-left: auto;
margin-right: auto;
}
.container-news-page .card-title{
  color: #0F0771;
 
}


.container-news-page button{
  background-color:#0F0771;
  padding: 15px 35px;
  margin-left: 13.5%;
  border: none;
  margin-bottom: 5px;
  margin-top: 5px;
  
}
.container-news-page button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container-news-page button:hover{
  cursor: pointer;
  background-color: #A46767;
}
.container-news-page button:active{
  transform: scale(0.95);
}

.container-news-page button:first-of-type{
  background-color: #A46767;
}

.container-news-page a{
  font-size: 15px;
  font-weight:500;
  font-family:var(--font-family);
  color:crimson;
  text-decoration: none;
}



.container-news-page h3{
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: bold;
  font-family:var(--font-family);
  color:#0F0771 ;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.container-news-page .card{
margin-top: 4%;
box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.201), /* Top shadow */
0px -4px 6px -2px rgba(0, 0, 0, 0.1), /* Bottom shadow */
4px 0px 6px -2px rgba(0, 0, 0, 0.1), /* Left shadow */
-4px 0px 6px -2px rgba(0, 0, 0, 0.1); /* Right shadow */
transition: transform 0.3s ease-in-out;
max-width: 80%;
margin-left: 10%;

}

.container-news-page  .card-text{
  font-weight: bold;
}
.container-news-page  .card:hover{
  transform: scale(1.1);
}


.container-news-page .btn{
  background-color: #0F0771;
  color: #fff;
  padding: 3px 25px;
  border-radius: 15px 0px 15px 0px ;
  margin-left: 0px;
}

.blink-icon {
  width: 32px;
  height: 28px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-left: 8px;
  margin-bottom: 5px;
}

.blink-animation {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* contact us */
.container-contact-page{
  margin-bottom: 6px;
  height: auto;
  margin-top: 12px;
  overflow-x: hidden;
  padding: 20px;
}
.container-contact-page .card-title{
  font-weight: bold;
  font-size: 1.2rem;
}

.container-contact-page .card{
  margin-top: 80px;
  margin-bottom: 50px;
  height: 300px;
  width: 90%;
  padding: 10px 10px;
  box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.201), /* Top shadow */
  0px -4px 6px -2px rgba(0, 0, 0, 0.1), /* Bottom shadow */
  4px 0px 6px -2px rgba(0, 0, 0, 0.1), /* Left shadow */
  -4px 0px 6px -2px rgba(0, 0, 0, 0.1); /* Right shadow */
  transition: transform 0.3s ease-in-out;
  margin-left:6%;
  
  }   

.container-contact-page  h5{
  color:var(--main-color);
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  }
  .container-contact-page .background-image-overlay-2{
    position: relative;
    height: auto; 
    text-align: center;
    color: white;
    padding: 20px 15px;
    overflow: hidden;
  background-image:url('../image/lbs3.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 120px;
    }
   .container-contact-page .background-image-overlay-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.422); 
    }
   .container-contact-page .background-image-overlay-2 h1{
    font-size: 48px;
    top: 60px; 
    color:white;
    font-weight: bold;
    position: relative;
    }
    
   .container-contact-page .background-image-overlay-2 .image-grid{
    width: 100%;
    padding: 140px 140px 140px 140px;
    position: relative;
    display: grid;
    justify-content: center;
    gap: 20px; /* Adjust the spacing between images as needed */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    z-index: 1;
    }
   .container-contact-page .background-image-overlay-2 .image-grid img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    padding: 5px;
    border-radius: 15px 0px 15px 0px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s, transform 0.9s;
    border:none ;
    }
    
   .container-contact-page .background-image-overlay-2 .image-grid img.animate {
    opacity: 1;
    transform: translateY(0);
    }

    /* activity */
    .container-activities{
      overflow-x: hidden;
      /* margin-bottom: 0; */
    
     }
     .container-activities h3{
      font-size: 28px;
      font-weight: bold;
      font-family:var(--font-family);
      color: var(--main-color);
      margin-top: 3%;
      text-align: center;
      margin-bottom: 3%;
    }
    
    .button-container{
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 40px; 
    }
    .button-activities {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color:var(--main-color);
      border: none;
      cursor: pointer;
     
    }
    .container-activities .button-activities a{
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
      
      .container-activities .button-activities:hover{
        cursor: pointer;
        background-color: #A46767;
      }
      
      .container-activities .button-activities:active{
        transform: scale(0.95);
      }
      
      .container-activities .button-activities:first-of-type{
        background-color: #A46767;
      }
      
    .container-activities .card{
      margin-bottom: 120px;
      border: none;
      margin-left: 3%;
    }
    
    
    
    .container-activities .card-title{
      color:var(--main-color);
      font-size: 24px;
      animation: bottomToTop 2s ease-in-out;
     margin-left: 24px;
    }
    .container-activities .card-text{
      font-size: large;
      font-family:var(--font-family);
      /* color:#fff; */
      /* background-color:#100771; */
      padding: 10px 20px;
    
    
     
    }
    
    .container-activities .img-fuild{
      max-width: 80%;
      height: auto;
      animation: bottomToTop 2s ease-in-out;
      margin-left: 10%;
      box-shadow: 8px 8px 8px 0px #23222b;
     
    } 
    .container-activities .img-fuild:hover{
      transform: scale(1.1);
    }
    @keyframes bottomToTop {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      
      50% {
        opacity: 1;
        transform: translateY(0);
      }
      
    }
    
    .pg{
      text-align: justify;
      font-family: var(--font-family);
    }
    
/* .training */
.training3{
  margin-left: 1rem;
  color:black;
  font-family:var(--font-family);
}
.training4{
      color: black;
      text-decoration: none;
  }
.b1{
      color:var(--main-color);
  }
.hrrr{
  border: 5px solid var(--main-color);
  margin-left: 1rem;
  margin-right: 20rem;
}

.h22{
  font-weight: bold;
 margin-top: 1rem;
 color: var(--main-color);
}
.training6{
  font-weight: bold;
  color: var(--main-color);
}
.hrrrr{
  border: 5px solid var(--main-color);
  margin-right: 0rem;
}
    
/* Principal */
.prin img {
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 30px 30px 30px 0;
  box-shadow: 4px 4px 6px 5px black;
}
.prin {
/* margin-left: 120px; */
  /* margin-top: 1rem; */
  padding: 1rem;
  word-spacing: 0.2rem;
  box-sizing: border-box;
text-align: center;
  box-shadow: 1px 1px 5px 1px rgb(162, 162, 248);
  border: 15px solid var(--main-color);
  border-left-style: none;
  border-right-style: none;
  /* font-weight: 600; */
  font-family:var(--font-familiy);
  width: 900px;
  margin: auto;
}
.msg{
  text-align: justify;
  font-size: 1.1rem;
  font-family:var(--font-family);
  word-spacing: .5rem;
}
 .sp1{
margin-left: 39.5rem;
font-size: 1.1rem;
}
.sp2 {
    margin-left: 39rem;
    font-size: 1.1rem;
}
/* admission */

.pg{
  font-family: var(--font-family);
  font-size: 1.1rem;
  word-spacing: .2px;
}
.adbtn{
   border-top:2px solid rgb(226, 223, 223);
    border-bottom:2px solid rgb(226, 223, 223);
     border-right: 2px solid rgb(226, 223, 223);
      border-radius: 5%;
   width: 80%;
}
.adbtn1{
border-left:4px solid yellow; 
}
.adbtn2{
border-left:4px solid green; 
}
.adbtn3{
border-left:4px solid blue;
}
.adbtn4{
border-left:4px solid orange;
}
/* ugpg */
#div1,#div2,#div3 p{
  font-family: var(--font-family);
  font-size: 1.2rem; 
}
/* course */
.crbtn a{
  background-color:var(--main-color);
  color:var(--color);
  padding: 20px;
  text-decoration: none;
  font-family:var(--font-family);
}
.crbtn p{
  font-family:var(--font-family);
  word-spacing: .2rem;
  text-align: justify;
}
.crbtn h2{
  color:var(--main-color);
}
/* bed */
.bed p{
font-family: var(--font-family);
word-spacing: .1rem;
}
/* result */
/* .card11 {
  border: 2px solid var(--main-color);
  box-shadow: 2px 3px 8px 3px black;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}


.panel-body{
  margin-top: 1rem;
  font-size: large;
  color: black;
}

.form-control {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    height: 35px;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
    color: var(--main-color);
    background-color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    box-shadow:inset 0 1px 1px var(--main-color);
   
}


.theme-button {
    padding: 5px 20px;
    background: var(--main-color);
    border: 0;
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    
}

.theme-button-2 {
    padding: 5px 20px;
    background: var(--main-color);
    border: 0;
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    outline: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
}


header {
    float: left;
    margin-top: 15px;
    margin-bottom: 1px;
    width: 100%;
    position: relative;
    background: #f3d8a4;
    padding: 0px;
}

 


    .panel-default > .panel-heading {
        color: white;
        background-color: var(--main-color);
        border-color: var(--main-color);
        text-align: center;
        width: 100%;
        margin-top: 1rem;
    }

.panel-heading {
    padding-top: 5px ;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}

.panel-title {
    font-size: 25px;
    text-align: center;
    padding-bottom: 0;
    font-weight: 600;
    color: white;
}



span.star {
    color: red;
} */
/* classroom */
.mockImg{
  width: 350px;
  border-radius: 5px;
}
.mockHeading{
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: justify;
}

.mockDes{
  text-align: justify;
  font-size:1rem;
}
.Paragra{
  font-size: 1.2rem;
}
.mockHeading1{
  color: #082E66;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  text-align: justify;
}

.mockDes1{
  text-align: justify;
  font-size: 18px;
}
/* alumni */
.alumnicon{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.alumnicon .card{
  position: relative;
 max-width:300px;
   height: 200px;
  background: #fff;
  margin: 40px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out; 
}
.alumnicon .card:hover{
  height: 420px;
}
.alumnicon .card .imgBx {
  position: relative;
  width: 260px;
  /* height: 220px;  */
 top: -60px;
  /* left: 20px;  */
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.alumnicon .card .imgBx img{
  width: 100%;
  height: 200px;
  border-radius: 4px;
  }
   .alumnicon .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }  
  .alumnicon .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  } 
  /* award */
  .award img{
    margin-left:25px;
  }
  .award h5{
    font-size: 1rem;
    margin-left: 20px;
  }
  /* committee */
  .commitee .card img {
    border-radius: 50%;
    width: 15rem;
    height: 13rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    border: none;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
   
  .pg{
    text-align: justify;
    font-family: var(--font-family);
  }
  
  
  .commitee {
    height: 28rem;
    border: 2px solid;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
  }
  
  .commitee h1 {
    text-align: center;
    margin-top: 1rem;
    color: var(--color);
    font-weight: 600;
    font-family:var(--font-family);
    font-size: 3rem;
  }
  
@media screen and (min-width:256px) and (max-width:468px){
 
   .header p{
    font-size:.7rem !important;
    margin-left:2.7rem !important;
    /* display: none; */
  }
  .header img{
    height: 80px !important;
    width: 80px !important;
    margin-left:0px;
  } 
  .header strong{
    font-size: 1rem !important;
    margin-left: 2rem !important;
  }
  .headh{
    font-size: .5rem !important;
  }
  .container-fluid a {
    font-size: 1rem !important;
  }
 .lr{
  padding: 5px !important ;
 }
  .quotes h2{
    font-size: 1rem !important;
  }
  .quotes span{
    font-size:1.5rem ;
    margin-top: 200rem !important;
  }

  .buttonbox{
    width:200px !important;
  }
  .leftbtn,.rightbtn{
   padding:5px;
   margin: 2px;
  }
  .leftbtn{
    margin-left: 4px;
  }
  .buttonbox a{
    font-size:.8rem;
  
  }
  .ffac {
    display: flex !important;
    flex-direction:row !important;
    justify-content:center !important;
    align-items: center !important;
  }
  .flogo{
    margin-left:4rem !important;
    margin-right: 4rem !important;
  }
  #hfac{
    font-size:.5rem !important;
  }
  .student{
    margin-left: 10px;
  }
  
  .groups img{
    width: 120px;
    height: 100px;
  }
  .counter{
    font-size:2rem !important;
  }
  .cr{
    margin-bottom: 5rem !important;
  }
  .cr p{
    font-size:2.2rem ;
  }
  .numc img{
   margin-left: 89px !important;
  }
  #flogo3 {
    display: none;
  }
  .flogo p{
    font-size: 2rem !important;
  }
 .mainln{
  font-size: 2rem !important;
}
.subn{
  font-size:1rem !important;
}
#flink{
  font-size:1rem !important;
}
footer{
  margin-top: 0px !important ;
}
.groups{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about p{
  font-size: 1.1rem !important;
}

.aboutp{
  font-size: 1.1rem !important;
  /* text-align:left; */
  }
  
.prin{
  display: flex;
  flex-direction: column;
  width:300px !important;
  /* margin-left: 0; */
}
.prin img{
  width: 150px;
  height: 150px;
  margin-left: 60px;
}
.msg{
  font-size: 1rem !important;
  word-spacing: .1rem;
}
.sp1,.sp2{
  margin-left: 10px !important;
  font-size: 1rem !important;
  margin-top: 0% !important; 
  text-align: right;
}
.crbtn a{
  display: flex !important;
  flex-direction: column !important;
  /* justify-content: space-around; */
  font-size: 1rem !important;
  margin: 1rem !important;
}
.crbtn p{
  word-spacing: none !important;
}
.container-contact-page .card-title{
  font-size: 1rem;
}
.commitee{
  display: flex;
  flex-direction: column;
}
.award img{
  margin-left:50px;
}
.award h5{
  font-size: 1rem;
  margin-left: 50px;
}
.hdepart{
  width: 50%;
  margin-left:0%;
}
.hdepart th,td{
  font-size: .5rem;
}
.hdepart th{
  font-size: .7rem;
}
.commitee .card{
  margin-left: 15px;
  margin-top: 5px;
}
}

@media screen and (min-width:469px) and (max-width:768px) {


  .lr {
    height: 50px;
    padding: 1rem;
    margin-left: 0;
  } 


  .header p{
    font-size: .7rem !important;
    }
  .header img{
    height: 110px !important;
    width: 110px !important;
  } 
  .header strong{
    font-size: 1rem !important;
  }
  .headh{
    font-size: .7rem !important;
  }
  .nav-item a {
    font-size: 1.5rem;
  }

  .container-fluid a {
    font-size: 1.5rem;
  }

  .ffac {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flogo {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #flogo1 {
    margin-left: 20px;
  }


  .flogo p {
    text-align: center;
    font-size: 1.2rem;
    /* width: 100%; */
  }

  .ffac img {
    width: 100px;
    height: 80px;
  }

  .fabout h2 {
    font-size: 1.7rem;
  }

  .fhr {
    margin-left: 1px;
  }

  .button-box {
    font-size: 1.2rem;
  }

  #f1 {
    margin-left: 20px;
  }
.flink4{
  margin-left: 29px;
}
#mainln{
   font-size: 1.5rem;
}
.prin{
  width: 480px !important;
  /* margin-left: 0; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg{
  font-size: 1rem;
}

.sp1,.sp2{
  margin-left: 250px;
  font-size: 1rem;
  margin-top: 0% !important; 
  text-align: right;
}
.crbtn a{
  font-size:1rem !important;
}
.cardcontainer img{
  margin-left:60px;
}
.container-activities .card-title{
  font-size:1rem;
}
.container-activities .card-text{
  font-size: .6rem;
}
.award img{
  margin-left:10px;
  width: 180px;
  margin-top: 25px;
}
.award h5{
  font-size: .6rem;
  margin-left: 50px;
}
.award1 h2{
  font-size: .9rem;
}
.award1 p{
  font-size: 1rem;
}
.commitee .card img{
  width: 170px;
  height: 150px;
  }
  .commitee .card h5{
    font-size: 1rem !important;
  }
}
@media screen and (max-width:990px){
  
  .header img{
    margin-right: 1px;
  }
  .header p {
    font-size: 1.3rem;
    margin-top: 10px;
    /* text-align: center; */
  }
 .container-fluid a {
    font-size: 1.5rem;
  } 
  .lr {
    height: 50px;
    padding: 1rem;
    margin-left: 0;
  }
  #flogo1{
    margin-left: 85px;
  }
  #f1{
    margin-left:2px;
  }
 
  #mainln{
    font-size: 1.1rem;
 }
 .subn{
  font-size: .9rem;
 }
.fw-normal{
  font-size: 1rem !important;
}
.flink4{
  margin-top: .2rem;
  margin-left: 1rem;
}
.prin{
  width: 700px;
}
.sp1,.sp2{
  margin-left: 300px;
  font-size: 1rem;
  margin-top: 0% !important; 
  text-align: right;
}
.container-activities .card-text{
  font-size: .8rem;
}

}
 @media screen and (min-width:992px) and (max-width:1199px){
.header p{
  font-size:1.5rem;
  margin-top: 5px;
}
.glrgrp img{
  margin-left: 0;
}
.container-fluid a{
  font-size: .8rem;
}
.glrimg1{
  margin-left: 100px;
}
}
@media screen and (min-width:1200px)and (max-width:1299px){
  .container-fluid a{
    font-size: 1rem;
  } 
  /* .cardcontainer img{ */
    /* flex-direction: column;
    margin-top:70px;
    width:210px;
    
  /* } */
}
